@(day: Story)
@import lib._, parts._

@dayheadcontrol {
  @image(Days, "christmas.jpg")
  <h1 class="long text-center">@daytitle(day)</h1>
}
<section>
  <p>
    24 декабря 1914 года немецкие и британские солдаты на Западном фронте
    Первой мировой войны без каких-либо приказов начали Рождественское перемирие.
    В нем приняли участие около 100 тыс. немецких и британских солдат,
    а также небольшое количество французских военнослужащих.
    В свой первый год война еще не достигла глобального ожесточения,
    а число жертв с обеих враждующих сторон было пока сравнительно невелико.
  </p>
  <p>
    В сочельник 1914 года на Западном фронте Первой мировой войны
    было неофициально объявлено так называемое Рождественское перемирие.
    Оно продолжалось двое суток и сопровождалось обменом подарками,
    совместным распитием алкоголя, дружескими беседами и игрой в футбол.
    Отдельные случаи братаний были зафиксированы и на Восточном фронте,
    где немцам и австро-венграм противостояли русские войска.
  </p>
  <p>
    @image(Days, "christmas_football_photo.jpeg")
  </p>
  <p class="paragraph">
    Считается, что первыми инициативу проявили немцы. Военнослужащие рейхсхеера
    принялись украшать окопы в районе Ипра, установили свечи и пели рождественские песни.
    Им неожиданно ответили своими песнями британцы. Затем враги начали кричать друг другу
    поздравления с Рождеством. Необычное действо быстро распространилось по всей линии фронта.
  </p>
  <p>
    Когда солдаты по обе стороны осмелели,
    они выбрались из окопной грязи и пошли навстречу друг другу по нейтральной полосе,
    которая составляла всего несколько десятков метров. Британцы и немцы обменивались сигаретами,
    подарками, фотографировались вместе, даже играли в футбол. А немец-жонглер по профессии,
    устроил импровизированное представление прямо на ничейной земле.
  </p>
  <p>
    @image(Days, "christmas_truce_1914_photo.png")
  </p>
  <p class="paragraph">
    Во время рождественского затишья солдаты Германии
    и Великобритании не только пели песни и обменивались подарками.
    Они воспользовались передышкой, для того чтобы собрать и похоронить тела убитых.
    Вряд ли они питали иллюзии о том, что это братское единение врагов что-то изменит.
  </p>
  <p>
    Такое больше не повторялось: дальнейшие попытки организовать временное прекращение огня
    пресекались угрозами офицеров и дисциплинарными взысканиями.
    За четыре года Первой мировой войны погибло больше 37 миллионов человек.
  </p>
  <p>
    @image(Days, "christmas_truce_newspaper.jpeg")
  </p>
</section>
<section>
  <h4 class="text-center">Отрывки из писем</h4>
  <p>
    «Едва забрезжило утро, как мы увидели англичан, которые махали нам из окопов.
    Мы все тоже замахали в ответ. Постепенно они начали выбираться из траншей.
    Наши солдаты выставили маленькие рождественские елки, которые привезли нам на фронт,
    и зажгли на них свечи. Все вылезли из окопов, и никому даже в голову
    не пришло начать стрельбу». Это отрывок из письма немецкого солдата с Западного фронта.
  </p>
  <p>
    А вот как описывает знаменитое «рождественское перемирие» 1914 года его британский
    противник: «Все наши выбрались из окопов и уселись на насыпи.
    Немцы сделали то же самое и начали говорить на ломаном английском.
    Я взобрался на вершину насыпи и по-немецки попросил их спеть какую-нибудь
    народную песню. Они запели, потом спели мы, и обе стороны аплодировали друг другу».
  </p>
  <p>
    @image(Days, "christmas_truce_1914_photo2.jpeg")
  </p>
  <p class="paragraph">
    «Я стоял на стрелковой ступени окопа, глядя на немецкую линию обороны,
    и думал о том, как разительно отличается этот Святой вечер от тех,
    что были у меня прежде, — вспоминал британский стрелок Грэм Уильямс. —
    Вдруг вдоль бруствера немецких окопов то там, то здесь стали появляться огни,
    которые, по всей видимости, давали свечи, зажженные на рождественских елках;
    свечи горели ровно и ярко в тихом и морозном вечернем воздухе.
    Другие часовые, которые, конечно же, увидели то же самое, бросились будить тех,
    кто спал, с воплем: «Глянь только, что творится!» И в этот момент противник начал петь
    «Тихая ночь, дивная ночь…» В ответ мы исполнили свой псалом.
    С немецкой стороны раздались дружные аплодисменты,
    за которыми грянул еще один любимый ими рождественский мотив».
  </p>
  <p>
    @image(Days, "christmas_truce_1914_photo3.jpeg")
  </p>
  <p class="paragraph">
    «Мы как раз готовились открыть по ним огонь, когда увидели, что у них нет винтовок,
    и тогда один из наших пошел им навстречу, и примерно через две минуты пространство
    между двумя линиями обороны было заполнено солдатами и офицерами с обеих сторон —
    они пожимали друг другу руки и желали друг другу счастливого Рождества.
    Я тоже пошел на нейтральную полосу и пожал руки некоторым их офицерам и солдатам.
    Из этого я сделал вывод, что большинство из них хотели бы вновь оказаться дома,
    как и мы — у нас целый день играли волынки и все ходили на открытом пространстве,
    ничего не опасаясь», — писал британец А. Д. Чейтера, капитан 2-го батальона
    полка Гордонских горцев.
  </p>
  <p>
    @image(Days, "christmas_truce_1914.jpeg")
  </p>
  <p class="paragraph">
    Военный врач из Уэльса капитан Данн:
    «В 8:30 я трижды выстрелил в воздух и вывесил флаг с надписью «Счастливого Рождества».
    Я выбрался на насыпь и увидел с немецкой стороны полотнище, на котором было написано
    «Спасибо». Там появился немецкий капитан, мы оба поклонились, отсалютовали друг другу и вернулись
    в окопы. Он дал два выстрела в воздух, и война началась снова».
  </p>
  <p>
    @image(Days, "christmas_truce_1914_letters.jpeg")
  </p>
</section>
<section>
    <h4 class="text-center">Екатерина Гопенко, группа «Немного нервно». 24 апреля 2020</h4>
    <p>
      Дай миру шанс,<br>
      Дай шансу мир.<br>
      Когда дети цветов<br>
      Вновь станут детьми.
    </p>
    <p>
      Напой несколько строк<br>
      И смотри, как всё сплелось<br>
      Из твоих длинных волос<br>
      И моих долгих дорог.
    </p>
    @video("//www.youtube.com/embed/VosYcSSlxLY")
    @desc_foot {
      Рождество. Группа «Немного нервно», 24 апреля 2020.<br/>
      Музыкальная стэндап-трагедия «Светлей», часть 3
    }
    <p>
      «Рождество» — одна из самых трогательных историй музыкальной стэндап-трагедии «Светлей».
      Это обрывки писем солдат с фронта первой мировой войны и герои, рожденные в сознании автора.
      Это судьба двух мальчиков, рассказ о настоящем чуде и настоящей войне.
      Это отрывок, который слушатели часто путают с чем-то, прочитанным у Ремарка.
      Это Бог, который не покинул нас. Это боль.
    </p>
    <p>
      Всё вместе — это не антивоенный альбом. Это не электронная месса.
      Это не стэндап-трагедия. Это не синтез музыки, прозы и иллюзиона.
      Это не три человеческих силуэта, прорисованных черным на багровом цунами.
      Это не крик о помощи. Это не выстрел в пустоте. Это не реквием. Это «Светлей».
    </p>
</section>
<section>
  <h4 class="text-center">Клип группы SABATON</h4>
  <p>
  @video("//www.youtube.com/embed/HPdHkHslFIU")
  @desc_foot {
    SABATON, «Рождественское перемирие»
  }
  </p>
</section>
<section>
  <h4 class="text-center">Фильм «Счастливого Рождества»</h4>
  <p>
    Фильм «Счастливого Рождества» рассказывает о рождественском перемирии.
    Сюжет фильма: В канун Рождества 1914 года четверо людей пережили незабываемое.
    Шотландский священник, французский лейтенант, немецкий тенор и его возлюбленная оказались
    в самом сердце спонтанного братства, возникшего между траншеями немцев, англичан и французов.
    Ружья были оставлены на дне окопов, а сами солдаты и офицеры вышли навстречу друг другу,
    чтобы обменяться сигаретами, разделить шоколад и пожелать друг другу: «Счастливого Рождества!»
  </p>
  @video("//www.youtube.com/embed/F2eIfb01gVg")
  @desc_foot {
    Фильм «Счастливого Рождества», 2005
  }
</section>
<section>
  <h4 class="text-center">Рождественское перемирие — Википедия</h4>
  <p>
    Рождественское перемирие, произошло в канун рождества 1914 года
    на германо-английском фронте в первую мировую войну.
    Перемирие было довольно широко распространено, хотя никогда не было официальным.
    За неделю до Рождества часть английских и германских солдат начали обмениваться
    рождественскими поздравлениями и песнями через окопы;
    в отдельных случаях напряжённость была снижена до такой степени,
    что солдаты переходили линию фронта, чтобы поговорить со своими противниками
    и обменяться с ними подарками. На Сочельник и Рождество солдаты обеих сторон,
    а также, в меньшей степени, французы, самостоятельно выходили на нейтральную полосу,
    где смешивались, обмениваясь продуктами питания и сувенирами.
    Проводились также совместные церемонии погребения павших, некоторые встречи
    заканчивались совместными рождественскими песнопениями.
    Войска обеих сторон бывали настолько дружелюбны друг с другом,
    что иногда даже играли между собой в футбол на нейтральной полосе.
    Подробнее можно почитать о нем в википедии: Рождественское перемирие рассматривается сегодня как символический момент мира и человечности на фоне одного из самых драматических событий современной истории.
  </p>
  <p>
  @image_described(Days, "christmas_football.jpeg")
  @desc_foot {
    Статуя в саду разбомбленной церкви Сент-Люкс
    на Берри-стрит в Ливерпуле
  }
  </p>
</section>
<section>
<h4 class="text-center caption-top">Смотрите также</h4>
<p>
  @humanity_icon() @link(Days.href + "#days", "Мирный календарь") — все записи
</p>
<p>
  @weblink("https://www.gazeta.ru/science/2019/12/24_a_12880814.shtml",
  "Рождественское перемирие на фронте Первой мировой") — газета.ru.
  «Такого быть не должно»: почему Гитлер восстал против перемирия
</p>
<p>
  @weblink("https://news.un.org/ru/story/2019/12/1369111",
  "«Рождественское перемирие»: незначительный эпизод или урок гуманизма?") – сайт ООН
</p>
<p>
  @weblink("https://www.independent.co.uk/news/uk/home-news/christmas-truce-of-1914-letter-from-trenches-shows-football-match-through-soldier-s-eyes-9942929.html",
          "Christmas Day truce 1914: Letter from trenches shows football match through soldier's eyes for first time")
  — статья в Independent
</p>
<p>
  @weblink("https://newochem.ru/vojna/rozhdestvenskoe-peremirie/",
  "Рождественское перемирие") — перевод статьи в Independent
</p>
<p>
  @weblink("https://ru.wikipedia.org/wiki/Рождественское_перемирие",
  "Рождественское перемирие") — Википедия
</p>
  @humanity_icon_credits()
</section>
