@(day: Person)
@import lib._, parts._

@dayheadcontrol {
  @image(Days, "allison.jpg")
  <h1 class="long text-center">@daytitle(day)</h1>
}

<p>
  <strong>23 апреля 1951</strong> родилась американка <strong>Эллисон Бет Краузе</strong>.
  В 19 лет она училась на первом курсе в государственном университете Кента (штат Огайо)
  и была отличницей. Во время акций антивоенного протеста она произнесла фразу,
  ставшую впоследствии всемирно известной: <strong>«Цветы лучше пуль»</strong>.
</p>
<p>
@image(Days, "allison_krause.jpeg")
</p>
<p>
  4 мая 1970 в Кенте, штат Огайо, были расстреляны
  участники и участницы антивоенной демонстрации периода войны во Вьетнаме.
  Студенты и студентки <strong>Кентского университета</strong> устроили акцию протеста против начавшегося
  вторжения в Камбоджу. По неизвестным причинам гвардейцы открыли огонь по толпе,
  погибло 4 и было ранено 9 человек.
</p>
<p>
@image(Days, "kent2.jpg")
</p>
<p>
  Среди погибших была первокурсница <strong>Эллисон Краузе</strong>.
  За день до смерти она гуляла по кампусу со своим возлюбленным
  и они обратили внимание на солдата: он держал в руках винтовку М1,
  из дула которой торчал цветок сирени.
</p>
<p>
  Между ними завязался дружеский разговор, пока к солдату
  не подошёл один из офицеров и не сделал выговор по поводу цветка.
</p>
<p>
  <strong>Офицер:</strong> У твоего взвода учебная стрельба на следующей неделе, так, Майерс?<br>
  <strong>Майерс:</strong> Да, сэр.<br>
  <strong>Офицер:</strong> И ты пойдёшь туда с этим глупым цветком?<br>
  <strong>Майерс:</strong> Нет, сэр.<br>
  <strong>Офицер:</strong> Тогда что он делает в дуле твоей винтовки?<br>
  <strong>Майерс:</strong> Это подарок, сэр.<br>
  <strong>Офицер:</strong> Ты всегда принимаешь подарки, Майерс?<br>
  <strong>Майерс:</strong> Нет, сэр.<br>
  <strong>Офицер:</strong> Тогда почему ты принял этот?<br>
  <strong>Майерс:</strong> (нет ответа)<br>
  <strong>Офицер</strong> (протягивая руку): Что ты с ним сделаешь, Майерс?<br>
  (<strong>Майерс</strong> сминает цветок)<br>
  <strong>Офицер</strong> (хватает цветок): Так-то лучше, Майерс. Теперь исправься и начни вести себя как настоящий солдат. Забудь про все эти мирные штучки.
</p>
<p>
  Когда офицер уже приготовился выбросить цветок, Эллисон выхватила его.
  Офицер смерил её презрительным взглядом и победоносно направился прочь.
</p>
<p>
  <strong>«Что случилось с миром?</strong> — крикнула она ему в спину. —
  <strong>Цветы лучше пуль!</strong>»
</p>
<p>
@image(Days, "allison3.jpg")
</p>
<p>
  Трагедия вызвала волну протестов в университетах по всей территории США и привлекла огромное общественное внимание.
  В начавшейся общенациональной студенческой забастовке участвовали 4 миллиона человек.
  Комиссия, расследовавшая произошедшее, заключила, что применение гвардейцами оружия было неоправданным.
  Однако никто из гвардейцев не понёс какого-либо наказания, а причина открытия огня остаётся невыясненной до сих пор.
</p>
<p>
  @image_described(Days, "kent.jpeg",
  "Студенты над телом Джеффри Миллера. " +
  "Фотограф Джон Фило получил за этот снимок Пулитцеровскую премию")
</p>
<section>
<h4 class="text-center caption-top">Смотрите также</h4>
<p>
  @humanity_icon() @link(Days.href + "#days", "Мирный календарь") — все записи
</p>
<p>
  @weblink("https://ru.wikipedia.org/wiki/%D0%A6%D0%B2%D0%B5%D1%82%D1%8B_%D0%BB%D1%83%D1%87%D1%88%D0%B5_%D0%BF%D1%83%D0%BB%D1%8C",
           "Эллисон Краузе") — Википедия
</p>
<p>
  @weblink("https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D1%81%D1%81%D1%82%D1%80%D0%B5%D0%BB_%D0%B2_%D0%9A%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%BE%D0%BC_%D1%83%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82%D0%B5",
           "Расстрел в Кентском университете") — Википедия
</p>
<p>
  @weblink("http://saint-juste.narod.ru/kent1.html",
           "Расстреляны в Кенте.") Мэлор Стуруа
</p>
  @humanity_icon_credits()
</section>
