@(day: Story)

@import lib._, parts._

@dayheadcontrol {
  @image(day, "solmi.png")
  <h1 class="long text-center">@daytitle(day)</h1>
}
<p>
  Каждый год <strong>1 июня</strong> волосатые и не очень люди собираются
  в Москве в парке Царицыно, чтобы увидеть друг друга и вместе встретить лето.
  Конечно, никто не называет эту дату «Днем хиппи» и никогда не называл.
</p>
<p>
  @image(day, "sosna2.jpg")
</p>
<p>
Первая встреча в Царицыно прошла по инициативе Юрия Попова (<strong>Диверсанта</strong>)
1 июня 1982 года и с тех пор повторяется каждый год. В 1983 году встреча закончилась
разгоном милицией и задержаниями. После неё в парке были найдены листовки,
призывающие к отмене смертной казни и прекращению войны в Афганистане.
</p>
<p>
  Дата была выбрана в память о другой разогнанной демонстрации советских хиппи
  1 июня 1971 года. Протестующие против войны во Вьетнаме должны были пройти
  от здания МГУ к посольству США,
  но несостоявшееся шествие оказалось провокацией спецслужб,
  и привело к серьезным репрессиям в отношении многих участников.
</p>
<p>
@image(day, "sosna1.jpg")
</p>
<p>
  Контркультура хиппи подчеркнуто аполитична. Важнейшими ее ценностями
  всегда были мир, любовь и свобода. «Дети цветов» выступали против пуританской морали,
  за возврат к природной чистоте через любовь и пацифизм.
  Их самый известный лозунг – <strong>«Make love, not war!»</strong>
  <strong>(«Любите, а не воюйте»).</strong> Главный символ хиппи – это @link(routes.AppRoutes.storiesRecord("peace_symbol").toString,
  "пацифик"), знак мира, известный во многих странах и придуманный британским дизайнером-пацифистом
  <strong>Джеральдом Холтомом</strong> для антиядерных маршей в 1958 году.
</p>
<p>
  @image_described(day, "peace_people.png",
  "Ребята из инициативы «Кавер за мир» вдохновились Львовским пацификом")
</p>
<section>
<h4 class="text-center caption-top">Смотрите также</h4>
<p>
  @humanity_icon() @link(Days.href + "#days", "Мирный календарь") — все записи
</p>
<p>
  @humanity_icon() @link(Days.day("peace_symbol").href, "Символ мира (пацифик)") в календаре
</p>
<p>
  @weblink("https://ru.wikipedia.org/wiki/%25D0%25A5%25D0%25B8%25D0%25BF%25D0%25BF%25D0%25B8", "Хиппи") в Википедии
</p>
<p>
  @weblink("https://ru.wikipedia.org/wiki/%D0%A1%D0%B2%D0%BE%D0%B1%D0%BE%D0%B4%D0%BD%D0%B0%D1%8F_%D0%B8%D0%BD%D0%B8%D1%86%D0%B8%D0%B0%D1%82%D0%B8%D0%B2%D0%B0",
  "«Свободная инициатива»") — пацифистская группа Юры Диверсанта, и 1 июня для советских хиппи. Википедия
</p>
<p>
  @weblink("https://ru.wikipedia.org/wiki/%25D0%259F%25D0%25B0%25D1%2586%25D0%25B8%25D1%2584%25D0%25B8%25D0%25BA",
           "Пацифик") в Википедии
</p>
<p>
  @weblink("https://ru.wikipedia.org/wiki/%25D0%25A1%25D0%25B8%25D0%25BB%25D0%25B0_%25D1%2586%25D0%25B2%25D0%25B5%25D1%2582%25D0%25BE%25D0%25B2",
           "Сила цветов") в Википедии
</p>
<p>
  @weblink("https://ru.wikipedia.org/wiki/%25D0%259B%25D0%25B5%25D1%2582%25D0%25BE_%25D0%25BB%25D1%258E%25D0%25B1%25D0%25B2%25D0%25B8",
           "Лето любви") в Википедии
</p>
<p>
  @weblink("https://ru.wikipedia.org/wiki/%25D0%259F%25D0%25BE%25D1%2585%25D0%25BE%25D0%25B4_%25D0%25BD%25D0%25B0_%25D0%259F%25D0%25B5%25D0%25BD%25D1%2582%25D0%25B0%25D0%25B3%25D0%25BE%25D0%25BD",
           "Поход на Пентагон") в Википедии
</p>

<p>
  @image(day, "make_love_not_war.jpg")
</p>

  @humanity_icon_credits()
</section>
