@(day: Story)
@import lib._, parts._

@dayheadcontrol {
  @image(day, "peace_pole_canvas.jpeg")
  <h1 class="text-center">@daytitle(day)</h1>
}

<p>
  <strong>Полюс мира</strong> — это признанный во всем мире памятник, посвященный миру и ненасилию на Земле.
  Всего насчитывается более 250 000 таких полюсов.
</p>

<p>
  Их придумал японский религиозный и общественный деятель, поэт и писатель
  <strong>Масахиса Гоуи</strong> (<strong>Masahisa Goi</strong>) в 1955 году.
  Первый полюс мира установлен в Японии в 1976 году и хранит память о жертвах
  атомной бомбардировки в Хиросиме и в Нагасаки.
</p>

<p>
  На каждом полюсе мира с четырех или шести сторон на разных языках написано послание
  <strong>«May Peace Prevail On Earth».</strong>
</p>

<p>
  По-русски это звучит так: <strong>«Да будет мир человечеству во всем мире».</strong>
  По-беларусски: <strong>«Няхай будзе мір чалавецтву ва ўсім свеце».</strong>
  По-украински: <strong>«Хай буде мир людству у всьому світі».</strong>
</p>

<p>
  @image_described(day, "peace_pole_ratan600.jpeg", "Здание радиотелескопа РАТАН-600")
  <!-- https://easteast.world/posts/355 -->
</p>

<p>
  Полюс мира можно найти у пирамид в Египте, на северном магнитном полюсе,
  на мосту между Израилем и Иорданией, во Вьетнамском музее войны,
  на южноафриканском острове Роббенэйланд, где был заключен Нельсон Манделла.
</p>

<p>
  @image_described(day, "peace_pole_giza_pyramids.jpeg", "Пирамиды в Гизе")
</p>

<p>
  Самый первый в России полюс мира установлен в 1988 на горе Сапун в 4 км <strong>южнее Горячего Ключа.</strong>
  <strong>В Санкт-Петербурге</strong> полюс мира установлен у Никольского собора (1995).
  <strong>В Москве</strong> — на территории гостиницы Космос (2001).
  <strong>В Екатеринбурге</strong> — на границе Европы и Азии (2007).
</p>

<p>
  @image_described(day, "peace_pole_spb1.jpeg", "Санкт-Петербург")
  <!--@image(day, "peace_pole_spb2.jpeg")-->
</p>

<p>
  Есть такой полюс и <strong> в Чернобыле</strong> (у кафе «Десятка»),
  @* Vulytsya Bohdana 1A, Chornobyl, Ukraine 07270. Location: Desyatka Cafe *@

  <strong> в Донецке</strong> (по словам подписчиков),
  <strong> в Севастополе</strong> (установлен в 2011) и в детском центре <strong>Артек</strong> (2010).
</p>

<p>
  @image_described(day, "peace_pole_сhornobyl.jpeg", "Чернобыль")
</p>

<p>
  В торжественных церемониях открытия полюсов мира участвовали мать Тереза, Далай-Лама XIV,
  Джимми Картер и сторонники мира разных религий и стран.
</p>

<p>
  @image_described(day, "peace_pole_dalai_lama.jpeg", "Далай-Лама XIV")
</p>
<section>
  <h4 class="text-center caption-top">Смотрите также</h4>
  <p>
    @humanity_icon() @link(Days.href + "#years", "Мирные истории") — все записи
  </p>
  <p>
    @weblink("http://viaestvita.ru/gora-sapun-i-stolb-mira/", "Горячий ключ") —
    Полюс мира на горе Сапун в 4 км южнее Горячего Ключа, установлен 11 июля 1988
  </p>
  <p>
    @weblink("https://dzen.ru/a/X4RNlKFEw1onTJqQ", "Горячий ключ, блог путешественника") —
    Рассказ в блоге путешественника о полюсе мира на горе Сапун
  </p>
  <p>
    @weblink("https://easteast.world/posts/355", "РАТАН-600") —
    Рассказ об одном из самых больших радиотелескопов Евразии.
    Внутри здания телескопа есть небольшой полюс мира.
  </p>
  <p>
    @weblink("https://archivogram.top/38807484-fotografiya_original_vidovaya__stela_da_budet_mir_chelovechestvu_vo_vsem_mire", "Сахалин") —
    Фотография полюса мира в г. Корсаков, городской порт Культуры и отдыха.
    Хранится в корсаковском историко-краеведческом музее.
  </p>
  <p>
    @weblink("https://youtu.be/fHG6S2boGdE", "Оксфорд, штат Огайо (Видео)") —
    Полюс мира в университете Майами, г. Оксфорд, штат Огайо, США
  </p>
  <p>
    @weblink("https://en.wikipedia.org/wiki/Peace_pole", "Peace pole") — Википедия (англ.)
  </p>
  @humanity_icon_credits()
</section>
@*
<p>
  @image_described(day, "peace_pole_cape_hedo.jpeg", "Мыс Хедо, Япония")

  @image(day, "peace_pole_matt_belgrano.jpeg", height=700)
  @image(day, "peace_pole_sign_lang.jpeg", height=700)

  @image_described(day, "peace_pole_janesville_wi_2005.jpeg",
  "Джейнсвилл, штат Висконсин, 2005", height=800)
</p>
*@
@*
Сахалин https://archivogram.top/38807484-fotografiya_original_vidovaya__stela_da_budet_mir_chelovechestvu_vo_vsem_mire
Огни Эйрены, Университет Майами, г. Оксфорд, Штат Огайо, США
https://vk.com/wall-84513695_1334
https://youtu.be/fHG6S2boGdE
https://ocpjohio.org/about-ocpj/building-community/
*@
@*

for planting a peace pole often is as a response
to a local historic hate crime, incident or issue.

such notable locations as the north magnetic pole
https://en.m.wikipedia.org/wiki/North_magnetic_pole,
the Hiroshima Peace Memorial https://en.m.wikipedia.org/wiki/Hiroshima_Peace_Memorial,
the site of the Egyptian pyramids https://en.m.wikipedia.org/wiki/Egyptian_pyramids
in Giza https://en.m.wikipedia.org/wiki/Giza,
and the Aiki Shrine https://en.m.wikipedia.org/wiki/Aiki_Shrinein
Iwama https://en.m.wikipedia.org/wiki/Iwama,_Ibaraki, Japan.
https://en.m.wikipedia.org/wiki/Peace_pole#cite_note-3P

Another of the largest peace poles in the world, as measured in tons,
is the granite peace pole https://en.m.wikipedia.org/wiki/Peace_pole#cite_note-9
in Beech Acres Park https://en.m.wikipedia.org/wiki/Peace_pole#cite_note-10

@*
Фото Гои
@image(day, "peace_pole_masahisa_goi_founder.png")
https://worldpeace.org/founder/
*@
@*
Cherkasy
Shpolyanskiy rayon, Cherkasy, UKR
Дата записи в БД: 11/22/2020
Location Classification:  Private

@image(day, "peace_pole_cherkasy.jpeg")
*@
