@(day: Story)
@import lib._, parts._

@dayheadcontrol {
  @image(Days, "humanity.png", width=384)
  <h1 class="long text-center">@daytitle(day)</h1>
}
<p>
  Символ мира (<strong>пацифик</strong>) придумал британский пацифист и профессиональный дизайнер
  <strong>Джеральд Герберт Холтом</strong>.
  Он составил его из букв <strong>N</strong> и <strong>D</strong> семафорной «флажковой» азбуки,
  использовавшейся на флоте. Это первые две буквы слов «ядерное разоружение» по-английски —
  <strong>Nuclear Disarmament</strong>.
</p>
<p>
  @image_described(Days, "semaphore.jpg", "Сигналы семафорной азбуки")
</p>
<p>
  <strong>21 февраля 1958 года</strong>
  Джеральд Холтом показал наброски символа мира организаторам антиядерного марша в Лондоне.
  Это была первая публичная демонстрация «пацифика».
</p>
<p>
  @image_described(Days, "peacesigndrawing.jpg",
  "Набросок, сделанный Джеральдом Холтомом в 1958")
</p>
<p>
  Через полтора месяца антивоенные активисты впервые пронесли «пацифик» по улицам.
  Это произошло <strong>4 апреля 1958</strong> на антиядерном марше из Лондона
  в атомную лабораторию в <strong>Ольдермастоне</strong>, Беркшир.
  В марше участвовало 5000 человек и он продолжался четыре дня.
</p>
<p>
  @image_described(Days, "year-1959-aldermaston.jpg",
  "Первый антиядерный марш из Лондона в лабораторию Олдермастон, 1958")
</p>
<p>
  Холтом рассказывал в интервью: «Я был в отчаянии. Глубоком отчаянии. Я изобразил себя,
  человека в отчаянии, с руками опущенными и вытянутыми в стороны,
  в той же манере, что и крестьянин перед расстрельным взводом на картине Гойи.
  Я формализовал рисунок в линию и сделал круг вокруг него».
<!--
  I was in despair. Deep despair. I drew myself: the representative of an individual in despair,
  with hands palm outstretched outwards and downwards in the manner of Goya’s peasant before
  the firing squad. I formalised the drawing into a line and put a circle round it.
-->
</p>
<p>
  @image_described(Days, "gerald_holtom.jpg", "Джеральд Герберт Холтом")
</p>
<p>
  В конце 60-х символ мира использовался в США во время маршей
  и демонстраций против войны во Вьетнаме. Его привез туда
  один из лидеров американских общественных движений за гражданские
  и социальные свободы, социализм, ненасилие @*, а также за права ЛГБТ *@
  <strong>Байард Растин</strong>, который был на антиядерном марше
  из Лондона в Ольдермастон.
</p>
<p>
  @image_described(Days, "peace_symbol_us_protest.jpg",
    "Группа \"GIs for Peace\" американских солдат срочной службы несёт большой транспарант" +
    "во время акции протеста против войны во Вьетнаме, Вашингтон, округ Колумбия, 24 апреля 1971." +
    "Фото Дэвида Фентона")
</p>
<p>
  В 1958 году символ мира стал логотипом британской <strong>«Кампании за ядерное разоружение»</strong>,
  которая проводила марши из Ольдермастонской ядерной лаборатории в Лондон (кроме первого марша,
  к тому времени уже подготовленного «Комитетом прямого действия» и поддержанного
  «Кампанией за ядерное разоружение»). Любопытно, что одна из крупнейших
  пацифистских организаций появилась после журнальной статьи
  <strong>«Британия и ядерные бомбы»</strong> за ноябрь 1957 года,
  в которой отстаивалась идея одностороннего ядерного разоружения.
  Редакция журнала <strong>«New Statesman»</strong> получила большое
  количество писем поддержки от людей, недовольных испытаниями водородной бомбы.
  В результате этих испытаний Великобритания стала третьей в мире страной —
  обладателем термоядерного оружия.
</p>
<p class="paragraph">
  Заручившись столь массовой поддержкой, редактор <strong>Кингсли Мартин</strong>
  вместе с известными общественными деятелями учредил
  «Кампанию за ядерное разоружение» (Campaign for Nuclear Disarmament).
  Они провели встречу в Сентрал Холл Вестмистера <strong>17 февраля 1958</strong>.
  На первую встречу «Кампании за ядерное разоружение» пришло 5 тысяч человек.
  Ее первым председателем стал <strong>Джон Коллинс</strong> — священник англиканского
  Собора Святого Павла, а президентом — философ и математик <strong>Бертран Рассел</strong>.
  Одним из основателей кампании стал и автор статьи —
  популярный британский драматург <strong>Джон Бойнтон Пристли</strong>.
  Организация получила поддержку из самых разных кругов общества,
  включая ученых, религиозных лидеров, квакеров, журналистов, писателей,
  актеров и музыкантов.
</p>
<p>
  @image_described(Days, "london-to-aldermaston.jpg",
  "Первый антиядерный марш из Лондона в лабораторию Олдермастон, 1958")
</p>
<p>
  «Кампания за ядерное разоружение» провозгласила своей целью
  ненасильственную борьбу за одностороннее ядерное разоружение Великобритании
  и поддержала первый четырехдневный поход с Трафальгарской площади
  в Лондоне к Центру разработки ядерного оружия в Олдермастоне в 1958.
  Эти походы стали ежегодными и впоследствии проводились
  в противоположном направлении: из Олдермастона на Трафальгарскую площадь,
  собирая до 150 тысяч участников. В тот момент попытки многосторонних
  договоренностей не приводили к успеху, и идея подать пример
  ядерного разоружения захватила воображение многих.
</p>
<p class="paragraph">
  @video("//www.youtube.com/embed/vcGeBgZMG6o")
</p>
<p>
  Сейчас кампания выступает за безъядерную Европу и весь мир,
  запрет ядерного оружия (а также снарядов на обедненном уране)
  и всех видов оружия массового поражения, сворачивание ядерной энергетики,
  выход Великобритании из НАТО и отказ от ядерных баз НАТО в Европе.
  Она поддерживает ОБСЕ, имеет представительство в ООН и состоит
  из более ста национальных, региональных и местных отделений,
  а также четырех экспертных секций: студенческой, лейбористской,
  христианской и экологической. Существует на пожертвования участников
  и сторонников.
</p>
<p>
  @image_described(Days, "bela_szandelszky.webp",
  "Антивоенный митинг на Площади героев в Будапеште")
</p>
<section>
<h4 class="text-center caption-top">Смотрите также</h4>
<p>
  @humanity_icon() @link(Days.href + "#days", "Мирный календарь") — все записи
</p>
<p>
  @weblink("https://www.cnduk.org") — сайт Кампании за ядерное разоружение.
</p>
<p>
  @weblink("https://cnduk.org/the-symbol/", "История символа мира") на английском языке.
</p>
<p>
  @weblink("https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D1%86%D0%B8%D1%84%D0%B8%D0%BA",
           "Пацифик") — Википедия на русском языке.
</p>
<p>
  @image_described(Days, "eric_austen_first_cnd_badge.jpg",
  "Керамический значок с символом мира, дизайн Джеральда Холтома, адаптирован Эриком Остеном")
</p>
  @humanity_icon_credits()
</section>
@*

☮️21 февраля 1958 года Джеральд Холтом завершил разработку символа мира.
Этот символ, теперь известный во всем мире как «знак мира», или, как вариант, символ ядерного разоружения или символ CND (Кампания за ядерное разоружение),
возник как символ, представляющий угрозу ядерного уничтожения, используемый в британских антитеррористических кампаниях против ядерной активности с 1958 года.
Он получил широкое распространение в американском антивоенном движении 1960-х годов и был переосмыслен как символ мира во всем мире. Однако он все еще использовался в своем первоначальном антиядерном контексте активистами, выступающими против ядерной энергетики, в 1980-х годах.
Символ был разработан Джеральдом Холтомом (1914–1985) для британского движения за ядерное разоружение. Холтом, художник и дизайнер, представил его Комитету прямого действия 21 февраля 1958 года, где он был «немедленно принят» в качестве символа марша от Трафальгарской площади в Лондоне к Исследовательскому центру атомного оружия в Олдермастоне в Беркшире в апреле.
Дизайн Холтома был адаптирован Эриком Остеном (1922–1999) для керамических нагрудных значков.
Оригинальный дизайн находится в Музее мира в Брэдфорде, Англия.
Этот символ представляет собой наложение семафора флага на символы «N» и «D», обозначающие «ядерное разоружение». Это наблюдение было сделано еще 5 апреля 1958 года в Manchester Guardian .
В дополнение к этому Холтом дополнительно процитировал в качестве вдохновения картину « Третье мая 1808 года » Франсиско Гойи .
Он сказал: «Я был в отчаянии. Отчаяние было глубоко.Я нарисовал себя, как отчаявшегося индивидуума с руками, вытянутыми ладонями наружу и вниз, на манер гойевского крестьянина перед расстрелом. Я формализовал рисунок в линию и обвел ее кругом».
Кен Колсбан, интервьюировавший  Холтома, говорит, что дизайнер пожалел о символике отчаяния, так как он чувствовал, что мир нужно подбадривать, и хотел, чтобы символ был перевернутым.
Говорят, что Эрик Остин «обнаружил, что мотив «жеста отчаяния» долгое время ассоциировался со «смертью человека», а круг — с «нерожденным ребенком».
Этот символ стал значком CND, а его ношение стало знаком поддержки кампании, призывающей Великобританию к одностороннему ядерному разоружению. В отчете о ранней истории CND это изображение описывается как «визуальный клей, скрепляющий Марш [Олдермастон], а затем и всю Кампанию воедино… вероятно, самый мощный, запоминающийся и адаптируемый образ, когда-либо созданный для светских целей».

https://vintagenewsdaily.com/on-february-21-1958-the-peace-symbol-design-was-completed-by-gerald-holtom/
https://www.facebook.com/permalink.php?story_fbid=1193283198166816&id=100024554419686
*@
