@(day: ArtWork)
@import lib._, parts._

@dayheadcontrol {
  @image(day, "picasso_photo.jpeg")
  <h1 class="long text-center">@daytitle(day)</h1>
}

<p>
  <strong>28 декабря 1961 года</strong> Пабло Пикассо нарисовал «голубку мира» в том виде,
  который мы знаем сегодня. Это один из самых узнаваемых символов мира,
  обошедший всю планету.
</p>
<p>
  В первый раз белый голубь был нарисован <strong>Пабло Пикассо</strong> в 1949 году.
  Он стал эмблемой Всемирного конгресса сторонников мира,
  проходившего с <strong>20 по 25 апреля</strong> того же года в Париже и Праге.
</p>
<p>
  Этот вариант «Голубки» 1949 года и был напечатан на плакате Конгресса.
  Он сильно отличался от того, который позже приобрел популярность.
  Это было реалистическое изображение голубя, сидящего на земле (а не летящего),
  без оливковой ветви в клюве, с мохнатыми лапками.
</p>
<p>
@image(day, "picasso_dove_1949.jpeg")
</p>
<p>
  С тех пор <strong>«Голубка Пикассо»</strong> неоднократно им воспроизводилась
  в различных вариациях и позже была развита художником в простой,
  графичный линейный рисунок. Он датирован <strong>28 декабря 1961.</strong>
</p>
<p>
@image(day, "picasso-dove.jpg")
</p>
<p>
  Пикассо потом сделал еще несколько голубок: для Варшавского конгресса, для Венского.
  Сотни миллионов людей узнали и полюбили Пикассо только по голубкам.
  Конечно, по одной голубке узнать Пикассо нельзя, но нужно быть Пикассо,
  чтобы сделать такую голубку.
</p>
<p>
  Свою младшую дочь, родившуюся 19 апреля 1949, Пабло Пикассо назвал <strong>Палома</strong> —
  по-испански «голубка».
</p>
<p>
  @image(day, "picasso-dove-frame.jpg")
</p>
<section>
<blockquote>
  <cite>
  Когда я впервые увидел «Голубку», я, как и многие, вероятно, подумал,
  что рисунок неверен или, во всяком случае, неестественен.
  Но потом по роду службы мне пришлось приглядеться к голубям, я вдруг осознал,
  что Пикассо, этот чудодей, схватил то мгновение,
  когда голубь складывает крылья перед приземлением.
  Его лапки уже касаются земли, но сам он ещё в воздухе, в полёте.
  Мгновение превращения движения в неподвижность, полёта в покой.
  </cite>
  <p class="text-end strong">Аркадий и Борис Стругацкие, «Улитка на склоне»</p>
</blockquote>
</section>
<section>
<h4 class="text-center caption-top">Смотрите также</h4>
<p>
  @humanity_icon() @link(Days.href + "#days", "Мирный календарь") — все записи
</p>
<p>
  @weblink("https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D0%BA%D0%B0_%D0%9F%D0%B8%D0%BA%D0%B0%D1%81%D1%81%D0%BE",
           "Голубка Пикассо") — Википедия
</p>
  @humanity_icon_credits()
</section>
