@(day: Person)
@*

Автор фразы «Такие дела» — So it goes — Курт Воннегут (ДР 11 ноября 1922)

Гуманист. Всю жизнь отстаивал право человека на помощь, уважение и сочувствие

***

Роман Воннегута «Бойня номер пять, или Крестовый поход детей», где фраза «Такие дела» встречается сто шесть раз (в русском переводе Риты Райт-Ковалевой — сто два), написан им в том числе на основе собственного военного опыта. Записавшись добровольцем в армию США во время Второй мировой войны, в декабре 1944 года он попал в германский плен. Вскоре после этого писатель чудом выжил во время разрушительной бомбардировки Дрездена авиацией союзников: по разным подсчетам, она унесла жизни от двадцати до пятидесяти тысяч человек. Среди них были мирные жители и беженцы. Когда двадцатидвухлетний капрал Воннегут и другие военнопленные выбрались из подвала той самой бойни номер пять, им поручили извлекать из бомбоубежищ обгоревшие трупы женщин, детей и стариков. Об этом писатель подробно расскажет в одном из своих поздних эссе «На всех улицах будет плач».

Неудивительно, что через всю жизнь Воннегут пронес жгучую ненависть к войне. Но изображал он ее довольно нетипично для писателя-фронтовика — потому что почти не принимал участия в сражениях, не видел, как под аккомпанемент взрывов зарождается любовь, не восхищался героизмом однополчан. О каком героизме может идти речь, когда солдаты сплошь и рядом — напуганные юнцы, которые больше всего на свете хотят домой, к маме?

Война для Воннегута стала прежде всего воплощением чудовищного абсурда и жестокости. В его понимании она не сплотила нацию. Не сделала мир «чище» и лучше. Не превратила мальчиков в мужчин. Не научила людей отделять добро от зла. Все это, по Воннегуту, касается не только Второй мировой, но и Вьетнама, Ирака — и любого другого вооруженного конфликта, который, что бы ни говорили правительства, обычным людям приносит лишь страдания, боль и многолетнюю фрустрацию.

***

В конце шестидесятых Воннегут отправился в Африку. На континенте шла очередная кровопролитная война, начавшаяся в результате попытки отделения восточных провинций Нигерии. Небольшое самопровозглашенное государство называлось Республика Биафра. Оно просуществовало почти три года — в постоянных сражениях с правительственной армией. К концу этого периода Нигерия наложила запрет на помощь Биафре со стороны Красного Креста.

Голод и болезни сделали ситуацию в республике катастрофичной. Их жертвами становились в первую очередь дети — десятки тысяч истощенных, умирающих детей, чьи фотографии все-таки заставили мировое сообщество перестать делать вид, будто речь идет «всего лишь» о локальной междоусобице, и начать отправлять в Биафру гуманитарные миссии.

Побывавший в республике с одной из таких миссий Курт Воннегут передал свои впечатления о поездке в эссе «Биафра: народ, который предали» (1970). Предприятие было рискованным: военные действия достигли пика, велись разрушительные бомбардировки. И если на Вторую мировую войну Воннегут шел, не особенно хорошо представляя, что его ждет, то в случае с Биафрой картина была ему вполне ясна.

Через считанные часы после того, как самолет с Воннегутом на борту поднялся в воздух и отправился в обратный путь, Биафра была стерта с лица Земли. Посвященное ей эссе проникнуто не героическим пафосом, которого можно было бы ожидать от автора, совершившего столь широкий гуманистический жест, а негромким бытовым трагизмом: он вообще всегда прекрасно удавался Воннегуту. Маскируясь под простака, который удивляется всему, что видит, писатель на нескольких страницах изобразил удивительно яркий и живой портрет народа, не побежденного и растоптанного, а по-своему великого. Как велик каждый, кто упорно пытается вести привычный образ жизни, даже если за порогом дома взрываются бомбы.

***

Воннегут в предисловии к «Синей бороде» приводит цитату из письма своего сына Марка: «Мы для того и существуем, чтобы помочь друг другу справиться со всем этим, как это ни назови».

Воннегут много писал и говорил о праве человека получать качественную медицинскую помощь, не испытывать дискриминации по расовому признаку, иметь теплый дом и достаточное количество пищи. Но самым главным, базовым правом для Воннегута всегда оставалось право на сострадание. 

***

По словам Джерома Клинковитца, друга Воннегута и исследователя его творчества, под конец жизни писатель казался очень угрюмым и подавленным. Да и вообще: реальный Воннегут, раздражительный и мрачный, был далек от образа добродушного мудреца, нарисованного прессой. Но вот парадокс: его книги буквально сочатся теплотой и пониманием. Обыденность смерти в них не делает ее менее пугающей и печальной. Да, смерть оставляет после себя пустоту и горе. Но бояться ее — бессмысленно, потому что она все равно произойдет. Такие дела. Мы не можем ее победить или остановить. Зато в наших силах, считает вслед за сыном Воннегут, помочь друг другу справиться со всем этим. Как это ни назови.

https://takiedela.ru/2018/11/takoy-vonnegut/
*@
